<section>
    <h2>Paises</h2>
    <hr>
    <ul class="list-group text-center">
        <li class="list-group-item" routerLink='countries/by-capital' routerLinkActive='active'>
            Por Capital
        </li>
        <li class="list-group-item" routerLink='countries/by-country' routerLinkActive='active'>
            Por Pais
        </li>
        <li class="list-group-item" routerLink='countries/by-languaje' routerLinkActive='active'>
            Por Idioma
        </li>
        <li class="list-group-item" routerLink='countries/by-region' routerLinkActive='active'>
            Por Region
        </li>

    </ul>
</section>