<main>
  <!-- <h1 class="font-bold underline text-red-500 text-center text-4xl">
    Hello world!
  </h1>
  <button mat-button>Basic</button>
   <button  mat-stroked-button>Basic</button> 
  <button mat-fab  aria-label="Example icon button with a heart icon">
    <mat-icon>save</mat-icon>
  </button> -->
  <!-- <h1>{{title}}</h1>
  <h1>{{title | uppercase}}</h1>
  <h1>{{title | lowercase}}</h1>
  <h1>{{title | titlecase}}</h1>

  <br>
  <h1>{{numero}}</h1>
  <h1>{{numero | number}}</h1>
  <h1>{{numero | number: '1.5-5'}}</h1>
  <br>
  <h1>{{porcentaje | percent: '1.1-2'}}</h1>
  <br>
  <h1>{{numero | currency: 'CRC' : 'symbol-narrow' : '.4-4'}}</h1>
  <br>
  <h1>{{fecha}}</h1>
  <h1>{{fecha | date}}</h1>
  <h1>{{fecha | date: 'short'}}</h1>
  <h1>{{fecha | date: 'dd-MM-YY'}}</h1>
  <h1>{{fecha | date: 'MMM/YY'}}</h1> -->
  <router-outlet />
</main>